[submodule "inc/scss"]
	path = inc/scss
	url = https://github.com/synchrovision/catpow-scss.git
[submodule "inc/node_modules-included/catpow"]
	path = inc/node_modules-included/catpow
	url = https://github.com/synchrovision/catpow-esm.git
