@import 'admin_style_config.scss';
$colors:(
	b:hsl(200,0%,99%),
	m:hsl(200,30%,10%),
	a:hsl(200,70%,20%),
	t:hsl(200,0%,10%), 
	i:hsl(200,0%,99%),
	shd:hsla(0,0%,0%,0.2),
	lt:hsla(0,0%,100%,0.4),
);
$fonts:(
	h:$gothic,
	t:$gothic,
	i:"Material Icons"
);
@include default-break;
@include define_color_vars;

html{
	@include txt((c:t,f:t));
	@include bnd((h:100vh a));
	@include bg((g:v #fff #eee,s:f,r:n));
	@include bp(-960){
		@include txt((p:1.6vw));
	}
	@include bp(-720){
		@include txt((p:2.4vw));
	}
	@include bp(-480){
		@include txt((p:3.2vw));
	}
}

.cp{
	&-layout{
		@include bnd((h:100vh));
		@include flx((w:n,d:c,a:f));
	}
	&-header{
		@include bnd((f:0 0 a,w:f));
		@include bnd((pd:12,bs:b));
		@include bg((g:v (m,80) m));
		&__title{
			@include txt((a:c,p:24,f:h,c:i));
			@include shd((t:1));
		}
	}
	&-main{
		@include bnd((f:1 1 a));
		@include bp(-960){
			@include grd((tr:160 1fr));
		}
		@include bp(960){
			@include grd((tc:240 1fr));
		}
		&__sidebar{
			@include bnd((oy:a));
			@include bg((c:m 5));
		}
		&__contents{
			@include bnd((p:r,oy:a));
		}
	}
	&-footer{
		@include bnd((f:0 0 a,w:f));
		@include bnd((pd:6,bs:b));
		@include bg((g:v (m,80) m));
		&__text{
			@include txt((a:c,p:14,f:h,c:i));
		}
	}
	&-search{
		@include bnd((p:r,pd:8));
		&::before{
			content:'🔎';
			@include bnd((d:b,p:a,i:0,w:1em,h:1em,mg:a,mgl:16));
			@include txt((p:.8em,h:1em));
		}
		&__input{
			@include bnd((ap:n,d:b,pd:.5em,pdl:2.5em,w:f,bs:b));
			@include txt((p:14,c:t));
			@include bdr((s:n,r:1em));
			@include shd((b:-1));
		}
	}
	&-controls{
		@include bnd((pd:8));
		&-mode{
			$block:&;
			@include bnd((p:r,h:20,w:100,o:h,mg:a));
			@include bg((c:m 50));
			@include bdr((r:16));
			@include usr((c:p));
			&__label{
				@include bnd((d:b,p:a,i:0,mg:a,w:f,h:f,pd:4,z:1,bs:b));
				@include txt((a:c,p:12,h:1em,c:i));
				@include trn((t:.3s));
				clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
				&.is-label-compare{
					
				}
				&.is-label-compare{
					@include bg((c:m 80));
				}
				#{$block}.is-mode-preview &{
					&.is-label-compare{
						clip-path: polygon(100% 0%,1000% 0%,100% 100%,100% 100%);
					}
				}
				#{$block}.is-mode-compare &{
					&.is-label-preview{
						clip-path: polygon(0% 0%,0% 0%,0% 100%,0% 100%);
					}
				}
			}
			&__handle{
				@include bnd((d:b,p:a,w:18,h:18,t:1,b:1,l:calc(100% - 1.25rem),z:2));
				@include bdr((r:50%));
				@include bg((c:i));
				@include trn((t:.3s));
				#{$block}.is-mode-compare &{
					@include bnd((l:1));
				}
			}
		}
	}
	&-index{
		@include bnd((pd:12));
		@include txt((l:n));
		@include grd((rc:300));
		&-item{
			@include bnd((pd:4));
			@include txt((p:12,c:t));
			@include usr((c:p));
			&.is-active{
				@include txt((c:m));
				@include bg((c:a 1 .1));
			}
			&:not(.is-visible){
				@include bnd((d:n));
			}
			&__icon{
				@include txt((f:i));
			}
			&__label{
				@include txt((c:t,b:b));
			}
		}
	}
	&-preview{
		$block:&;
		@include bnd((p:r,h:calc(var(--h) * var(--s) * 1px)));
		@include bdr((s:s,w:12,c:#222,r:8));
		@include bdr((p:b,w:30));
		@include bdr((p:t l,c:#444));
		@include shd((b:5));
		&-control{
			@include bnd((d:b,p:a,r:0,b:-30,pd:4));
			@include txt((c:i,p:20,h:20));
			@include usr((c:p));
			&__icon{
				@include txt((f:i));
			}
		}
		&__contents{
			@include bnd((p:a,l:0,t:0,w:calc(var(--w) * 1px),h:calc(var(--h) * 1px),bs:b));
			@include trn((to:0 0,s:var(--s,1)));
		}
	}
	&-previews{
		@include bnd((pd:8));
		@include grd((tc:4fr 1fr,g:8));
		@include bg((c:#fff));
	}
	&-compare{
		@include bnd((p:a,i:10));
		@include grd((tc:1fr 1fr,tr:1fr 20,g:10));
		&-preview,&-comp{
			@include bnd((p:r));
			@include bdr((s:s,w:12,c:#222,r:8));
			@include bdr((p:t l,c:#444));
			@include shd((b:5));
		}
		&-preview{
			&__contents{
				@include bnd((p:a,l:0,t:0,w:calc(10000% / var(--s)),h:calc(10000% / var(--s)),bs:b));
				@include trn((to:0 0,s:calc(var(--s,1) / 100)));
			}
		}
		&-controls{
			@include bnd((f:1 1 f));
			&-scale{
				@include bnd((mg:a));
				@include txt((a:c));
				&__range{
					@include bnd((w:300));
					@include usr((c:p));
				}
				&__text{
					@include bnd((pd:.5em));
				}
			}
		}
		&-comp{
			@include bnd((oy:a));
			&__contents{
				@include bnd((d:b,w:f,h:a));
			}
		}
	}
}