@import 'admin_style_config.scss';
$colors:(
	b:hsl(200,0%,99%),
	m:hsl(200,30%,10%),
	a:hsl(200,70%,20%),
	t:hsl(200,0%,10%),
	i:hsl(200,0%,99%),
	shd:hsla(0,0%,0%,0.2),
	lt:hsla(0,0%,100%,0.4),
);
$fonts:(
	h:$gothic,
	t:$gothic,
	i:"Material Icons"
);
@include default-break;
@include define_color_vars;

html{
	@include txt((c:t,f:t));
	@include bnd((h:100vh a));
	@include bg((g:v #fff #eee,s:f,r:n));
	@include bp(-960){
		@include txt((p:1.6vw));
	}
	@include bp(-720){
		@include txt((p:2.4vw));
	}
	@include bp(-480){
		@include txt((p:3.2vw));
	}
}

.cp{
	&-layout{
		@include bnd((h:100vh));
		@include flx((w:n,d:c,a:f));
	}
	&-header{
		@include bnd((f:0 0 a,w:f));
		@include bnd((pd:12,bs:b));
		@include bg((g:v (m,80) m));
		&__title{
			@include txt((a:c,p:24,f:h,c:i));
			@include shd((t:1));
		}
	}
	&-main{
		@include bnd((f:1 1 a));
		@include flx((w:n));
		&__sidebar{
			@include bnd((f:0 0 200,oy:a,h:a 90vh));
			@include bg((c:m 5));
		}
		&__contents{
			@include bnd((f:1 1 1000,oy:a,h:a 90vh));
		}
	}
	&-footer{
		@include bnd((f:0 0 a,w:f));
		@include bnd((pd:6,bs:b));
		@include bg((g:v (m,80) m));
		&__text{
			@include txt((a:c,p:14,f:h,c:i));
		}
	}
	&-search{
		@include bnd((p:r,pd:8));
		&::before{
			content:'🔎';
			@include bnd((d:b,p:a,i:0,w:1em,h:1em,mg:a,mgl:16));
			@include txt((h:1em));
		}
		&__input{
			@include bnd((ap:n,d:b,pd:.5em,pdl:2em,w:f,bs:b));
			@include txt((p:18,c:t));
			@include bdr((s:n,r:4));
			@include shd((b:-2));
		}
	}
	&-index{
		@include bnd((pd:12));
		@include txt((l:n));
		&-item{
			@include bnd((pd:4));
			@include txt((p:12,c:t));
			@include usr((c:p));
			&.is-active{
				@include txt((c:m));
				@include bg((c:a 1 .1));
			}
			&:not(.is-visible){
				@include bnd((d:n));
			}
			&__icon{
				@include txt((f:i));
			}
			&__label{
				@include txt((c:t));
			}
		}
	}
	&-preview{
		$block:&;
		@include bnd((p:r));
		@include bdr((s:s,w:12,c:#222,r:8));
		@include bdr((p:b,w:30));
		@include bdr((p:t l,c:#444));
		@include shd((b:5));
		&-control{
			@include bnd((d:b,p:a,r:0,b:-30,pd:4));
			@include txt((c:i,p:20,h:20));
			@include usr((c:p));
			&__icon{
				@include txt((f:i));
			}
		}
		&__contents{
			@include bnd((p:a,l:0,t:0,bs:b));
			@include trn((to:0 0));
			#{$block}.is-media-pc>&{
				@include bnd((w:160%,h:160%));
				@include trn((s:.625));
			}
			#{$block}.is-media-sp>&{
				@include bnd((w:125%,h:125%));
				@include trn((s:.8));
			}
		}
		&.is-media-pc{
			@include bnd((f:1 1 300,h:720));
		}
		&.is-media-sp{
			@include bnd((f:0 0 360,h:720));
		}
	}
	&-previews{
		@include bnd((h:720,w:1000 a,pd:4,bs:b));
		@include flx((w:w,g:4));
		@include bg((c:#fff));
	}
}