@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background: transparent;
  text-decoration: none;
  font-style: normal;
}
img {
  vertical-align: bottom;
  border: none;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
:root {
  --root-tones-b-h: 0;
  --container-tones-b-h: 0;
  --tones-b-h: 0;
  --tones-b-s: 0%;
  --tones-b-l: 98.82%;
  --tones-b-a: 1;
  --tones-b-t: 0.0118%;
  --root-tones-m-h: 200;
  --container-tones-m-h: 200;
  --tones-m-h: 200;
  --tones-m-s: 29.41%;
  --tones-m-l: 10%;
  --tones-m-a: 1;
  --tones-m-t: 0.9%;
  --root-tones-a-h: 200;
  --container-tones-a-h: 200;
  --tones-a-h: 200;
  --tones-a-s: 70.59%;
  --tones-a-l: 20%;
  --tones-a-a: 1;
  --tones-a-t: 0.8%;
  --root-tones-t-h: 0;
  --container-tones-t-h: 0;
  --tones-t-h: 0;
  --tones-t-s: 0%;
  --tones-t-l: 10.2%;
  --tones-t-a: 1;
  --tones-t-t: 0.898%;
  --root-tones-i-h: 0;
  --container-tones-i-h: 0;
  --tones-i-h: 0;
  --tones-i-s: 0%;
  --tones-i-l: 98.82%;
  --tones-i-a: 1;
  --tones-i-t: 0.0118%;
  --root-tones-shd-h: 0;
  --container-tones-shd-h: 0;
  --tones-shd-h: 0;
  --tones-shd-s: 0%;
  --tones-shd-l: 0%;
  --tones-shd-a: 0.2;
  --tones-shd-t: 1%;
  --root-tones-lt-h: 0;
  --container-tones-lt-h: 0;
  --tones-lt-h: 0;
  --tones-lt-s: 0%;
  --tones-lt-l: 100%;
  --tones-lt-a: 0.4;
  --tones-lt-t: 0%;
  --tones-hr: 20;
  --tones-hs: 0;
}
html {
  color: #1a1a1a;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  min-height: 100vh;
  height: auto;
  background-image: -webkit-linear-gradient(bottom, #fff, #eee);
  background-image: -moz-linear-gradient(bottom, #fff, #eee);
  background-image: -ms-linear-gradient(bottom, #fff, #eee);
  background-image: -o-linear-gradient(bottom, #fff, #eee);
  background-image: linear-gradient(180deg, #fff, #eee);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width:960px) {
  html {
    font-size: 1.6vw;
  }
}
@media (max-width:720px) {
  html {
    font-size: 2.4vw;
  }
}
@media (max-width:480px) {
  html {
    font-size: 3.2vw;
  }
}
.cp-layout {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cp-header {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(bottom, #41494d, #121c21);
  background-image: -moz-linear-gradient(bottom, #41494d, #121c21);
  background-image: -ms-linear-gradient(bottom, #41494d, #121c21);
  background-image: -o-linear-gradient(bottom, #41494d, #121c21);
  background-image: linear-gradient(180deg, #41494d, #121c21);
}
.cp-header__title {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  color: #fcfcfc;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.cp-main {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cp-main__sidebar {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 12.5rem;
  overflow-y: auto;
  max-height: 90vh;
  height: auto;
  background-color: #f3f4f4;
}
.cp-main__contents {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 62.5rem;
  overflow-y: auto;
  max-height: 90vh;
  height: auto;
}
.cp-footer {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  padding: 0.375rem;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(bottom, #41494d, #121c21);
  background-image: -moz-linear-gradient(bottom, #41494d, #121c21);
  background-image: -ms-linear-gradient(bottom, #41494d, #121c21);
  background-image: -o-linear-gradient(bottom, #41494d, #121c21);
  background-image: linear-gradient(180deg, #41494d, #121c21);
}
.cp-footer__text {
  text-align: center;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  color: #fcfcfc;
}
.cp-search {
  position: relative;
  padding: 0.5rem;
}
.cp-search::before {
  content: "🔎";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 1em;
  height: 1em;
  margin: auto;
  margin-left: 1rem;
  line-height: 1em;
}
.cp-search__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0.5em;
  padding-left: 2em;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.125rem;
  color: #1a1a1a;
  border-style: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}
.cp-index {
  padding: 0.75rem;
  list-style: none;
}
.cp-index-item {
  padding: 0.25rem;
  font-size: 0.75rem;
  color: #1a1a1a;
  cursor: pointer;
}
.cp-index-item.is-active {
  color: #121c21;
  background-color: rgba(15, 62, 86, 0.1);
}
.cp-index-item:not(.is-visible) {
  display: none;
}
.cp-index-item__icon {
  font-family: "Material Icons";
}
.cp-index-item__label {
  color: #1a1a1a;
}
.cp-preview {
  position: relative;
  border-style: solid;
  border-width: 0.75rem;
  border-color: #222;
  border-radius: 0.5rem;
  border-bottom-width: 1.875rem;
  border-top-color: #444;
  border-left-color: #444;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
}
.cp-preview-control {
  display: block;
  position: absolute;
  right: 0rem;
  bottom: -1.875rem;
  padding: 0.25rem;
  color: #fcfcfc;
  font-size: 1.25rem;
  line-height: 1.25rem;
  cursor: pointer;
}
.cp-preview-control__icon {
  font-family: "Material Icons";
}
.cp-preview__contents {
  position: absolute;
  left: 0rem;
  top: 0rem;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.cp-preview.is-media-pc > .cp-preview__contents {
  width: 160%;
  height: 160%;
  transform: -webkit- scale(0.625);
  transform: scale(0.625);
}
.cp-preview.is-media-sp > .cp-preview__contents {
  width: 125%;
  height: 125%;
  transform: -webkit- scale(0.8);
  transform: scale(0.8);
}
.cp-preview.is-media-pc {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 18.75rem;
  height: 45rem;
}
.cp-preview.is-media-sp {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 22.5rem;
  height: 45rem;
}
.cp-previews {
  height: 45rem;
  min-width: 62.5rem;
  width: auto;
  padding: 0.25rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.25rem;
  background-color: #fff;
}
/*# sourceMappingURL=./style.css.map */